<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <link href="style.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <title>Exercise Tracker</title>
    <h1>Exercise Tracker</h1>
  </head>
  <body>
    <form method="post" id="userName">Username:<input type="text"></input><input type="submit"></input></form>
    <form method="post" id="exerciseForm">
      UserId:<input type="text"></input>
      Description:<input type="text"></input>
      Duration:<input type="text"></input>
      Date:<input type="text"></input>
      <input type="submit"></input>
    </form>

  </body>
</html>
