<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <link href="/style.css" rel="stylesheet" type="text/css">
  <meta charset="utf-8">
  <title>Exercise Tracker</title>
  <h1 id="header">Exercise Tracker</h1>
</head>

<body>
  <div class="container">
    <% var userDisplay = 'block'; %>
    <% var exerciseDisplay = 'none'; %>
    <% var userId = ''; %>
    <% if (user) { %>
      <% userDisplay = 'none'; %>
      <% exerciseDisplay = 'block'; %>
      <% userId = user._id; %>
    <% } %>
    <form
      method="post"
      id="userName"
      class="pure-form pure-form-aligned"
      action="/api/exercise/new-user"
      style="display: <%= userDisplay %>;"
    >
      <fieldset>
        <div class="pure-control-group">
          <label for="name">Username</label>
          <input id="name" type="text" placeholder="Username" autocomplete="off" name="username">
    </div>
          <button type="submit" class="pure-button pure-button-primary" id="userNameSubmit">Submit</button>
      </fieldset>
    </form>
  </div>
  <div id="exerciseDiv" style="display: <%= exerciseDisplay %>;">
    <form method="post" id="exerciseForm" class="pure-form pure-form-aligned" action="/api/exercise/add">
      <fieldset>
        <div class="pure-control-group">
          <label for="UserId">UserId</label>
          <input id="userId" type="text" placeholder="UserId" value="<%= userId %>" name="userId">
    </div>
          <div class="pure-control-group">
            <label for="description">Description</label>
            <input id="description" type="text" placeholder="Description" name="description">
    </div>
            <div class="pure-control-group">
              <label for="duration">Duration</label>
              <input id="duration" type="number" name="duration" min="0">
    </div>
              <div class="pure-control-group">
                <label for="date">Date</label>
                <input id="date" type="date" name="date">
    </div>
                <button type="submit" class="pure-button pure-button-primary" id="exerciseSubmit">Submit</button>
      </fieldset>
    </form>
  </div>

</body>

</html>
